:root {
  --chestnut: rgb(255, 145, 0);
  --bg: #3d4451;
  --neon: #18cdff;
  --nav: #e5e5e5;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
}
.App-header {
  margin-top: 40px;
  font-size: larger;
  font-weight: 600;
  text-align: center;
  color: var(--neon);
  font-family: Arial, Helvetica, sans-serif;
}
